<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item-group>
    <ion-card style="width: 300px; margin: auto; margin-top:200px">
      <ion-card-content>

        <ion-item line="none">
          <ion-icon 
          id="earth" 
          (mouseover)="hover($event)" 
          (mouseout)="hover($event)" 
          slot="start" 
          name="earth-outline"></ion-icon>
          <ion-label>Hover icon</ion-label>
        </ion-item>

        <ion-item line="none">
          <ion-icon 
          id="palette" 
          (mouseenter)="hover($event)" 
          (mouseleave)="hover($event)"
          slot="start" 
          name="color-palette-outline"></ion-icon>
          <ion-label>Hover icon</ion-label>
        </ion-item>

      </ion-card-content>
    </ion-card>
    
  </ion-item-group>
  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
